extends layout

block content
  h1= title
  a(class="link" href="/new")= "Add your own message"
  ul
    each message in messages
      div(class="message-box")
        h2(class="message")= message.text 
        li(class="user")= message.user 
        li(class="date")= message.date